!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title Origin
    %meta{:content => "HTML5 Template", :name => "keywords"}/
    %meta{:content => "Jekas is a Software, Studio and Corporate Responsive Template", :name => "description"}/
    %meta{:content => "iwthemes.com", :name => "author"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Theme CSS
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
    / Responsive CSS
    %link{:href => "css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/
    
    %link{:href => "css/custom.css", :media => "screen", :rel => "stylesheet"}/

    / Favicons
    %link{:href => "img/icons/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/icons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
  %body
    #layout.layout-wide
      / Header Section
      %header.index_static
        .nav_logo.animated.fadeIn
          .container
            .row
              %nav.col-md-12
                %ul#menu.sf-menu
                  %li
                    %a{:href => "#tech"} TECHNOLOGIES
                  %li
                    %a{:href => "#latest"} LATEST NEWS
                  %li 
                    %a{:href => '#try'} TRY OPENSHIFT
                  %li 
                    %a{:href => '#contribute'} CONTRIBUTE
        %section.content_info
          / Parallax Background
          .bg_parallax.image_03_parallax
          / Parallax Background
          / Content Parallax
          %section.opacy_bg_02.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  .logo.wow.fadeIn.delay
                    %a{:href => "index.html", :title => "Back to Home"}
                      %img.logo_img{:alt => "Logo", :src => "img/origin_logo.svg"}/
                  / %h1.animated.zoomIn.wow.animated
                  %h1.animated.fadeInDown.delay
                    The next generation of PaaS
                  %p.animated.fadeInUp.delay Built around the central idea of user applications running in Docker containers with scheduling/management support provided by the Kubernetes project, and augmented deployment, orchestration, and routing functionality built on top.
            / End Info Head Static
          / End Content Parallax
        / End content info - Parallax Section 02
      / End Header Section
      / Info title
      .row.info_title.wow.fadeInUp.delay1
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            OpenShift is
            incredibly powerfull
            and completely 
            = succeed "." do
              %span open source
          %p Now you can build, deploy, and manage your applications with Docker and Kubernetes
        .vertical_line
        %i.fa.fa-cubes.right
      / End Info title
      %section.content_info
        / Info resalt
        .opacy_bg_01.paddings
          .container
            .row
              / Left Content
              .col-md-8.wow.fadeInLeft
                / Resul Zone
                .row.results
                  .col-md-3
                    %i.fa.fa-bomb
                    %h2
                      176
                      %span +
                    %h5 Commits in the last 30 days
                  .col-md-3
                    %i.fa.fa-edit
                    %h2
                      397,557
                      %span +
                    %h5
                      Lines of 
                      = succeed "Code" do
                        %br/
                  .col-md-2
                    %i.fa.fa-group
                    %h2
                      93
                      %span +
                    %h5 Merged Pull Requests in the last 30 days
                  .col-md-2
                    %i.fa.fa-coffee
                    %h2
                      19
                      %span =
                    %h5 Closed issues in the last 30 days
                  .col-md-2
                    %i.fa.fa-briefcase
                    %h2 31
                    %h5 Contributors
                  %span.arrow_results
                / End Resul Zone
              / End Left Content
              / Image animation - Right Content
              .col-md-4.wow.fadeInRight
                %img.img-responsive{:alt => "", :src => "img/services/1.png"}/
              / End Image animation - Right Content
        / End Info resalt
      / End content info - Result Section
      / Info title
      #tech.row.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Standarization through
            %span Containerization
          %p "Standards are powerful forces in the software industry. They can drive technology forward by bringing together the combined efforts of multiple developers, different communities and even competing vendors."
      %section.content_info.technology
        .paddings
          .container.wow.fadeInUp
            .row
              .col-sm-6.col-md-6
                .technology-section
                  .head-service-01
                    %img.logo_tech{:alt => "Docker logo", :src => "img/logo-docker-h.svg"}/
                  .caption-service-01
                    %h3 Docker container runtime and image model
                    %ul
                      %li Dolor sit isque cursus ante ac ullamcorper sed sit amet.
                      %li Pellentesque scelerisque cursus ante ac ullamcorper sed sit amet.
                      %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    %a{:href => "#"} Learn more
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-6
                .technology-section
                  .head-service-01
                    %img.logo_tech{:alt => "Kubernetes logo", :src => "img/logo-kubernetes-h.svg"}/
                  .caption-service-01
                    %h3 Container Orchestration at Scale with Kubernetes.
                    %ul
                      %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      %li Dolor sit isque cursus ante ac ullamcorper sed sit amet.
                      %li Pellentesque scelerisque cursus ante ac ullamcorper sed sit amet.
                    %a{:href => "#"} Learn more
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-6
                .technology-section
                  .head-service-01
                    %img.logo_tech{:alt => "Mesos logo", :src => "img/logo-mesos-h.png"}/
                  .caption-service-01
                    %h3 Mesos scheduling and execution framework
                    %ul
                      %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      %li Dolor sit isque cursus ante ac ullamcorper sed sit amet.
                      %li Pellentesque scelerisque cursus ante ac ullamcorper sed sit amet.
                    %a{:href => "#"} Learn more
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-6
                .technology-section
                  .head-service-01
                    %img.logo_tech{:alt => "Project Atomic logo", :src => "img/logo-atomic-h.svg"}/
                  .caption-service-01
                    %h3 Redefining the way people think about the operating system
                    %ul
                      %li Pellentesque scelerisque cursus ante ac ullamcorper sed sit amet.
                      %li Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                      %li Dolor sit isque cursus ante ac ullamcorper sed sit amet.
                    %a{:href => "#"} Learn more
              / End Item Service-01
      %section.content_info
        .opacy_bg_01.paddings
          .container
            .row
              .col-md-6
                :plain
                  <div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" src="//www.youtube.com/v/1hDEe0_sk0o" width="300" height="150"></iframe></div>
                %p 
                  Clayton Coleman, engineering lead for OpenShift, and Krish Sumaranian, Director of OpenShift Strategy, talk about what’s coming next in OpenShift V3, how Docker fits into that, and a lot more.
              .col-md-6
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    .head-service-02
                      %h3
                        %a{:href => "#"}
                          Podcast: Docker, Kubernetes, and App Packaging with Red Hat’s Mark Lamourine
                        %span NOVEMBER 4, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    .head-service-02
                      %h3
                        %a{:href => "#"}
                          OpenShift v3: Standardizing Container Orchestration and Management with Kubernetes
                        %span OCTOBER 31, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    .head-service-02
                      %h3
                        %a{:href => "#"}
                          OpenShift V3 Deep Dive Tutorial | The Next Generation of PaaS
                        %span OCTOBER 23, 2014
                / End Item Service-02
                / Item Service-02
                .col-sm-6.col-md-12
                  .service-02
                    .head-service-02
                      %h3
                        %a{:href => "#"}
                          OpenShift v3 Platform Combines Docker, Kubernetes, Atomic and More
                        %span AUGUST 14, 2014
                / End Item Service-02
      / Info title
      #try.row.info_title.wow.fadeInDown
        %i.fa.fa-download.left
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Try OpenShift
            %span Origin
        .paddings
          .container.wow.fadeInUp
            .row.text-center
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 On your network
                %p Want to deploy OpenShift Origin into your network? 
                %a{:href => "https://install.openshift.com/"} install.openshift.com 
                is your one-stop, one-command deployment utility. Give it a try!

              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 On your laptop
                %p
                  Want to hit the ground running with a pre-built, all-in-one OpenShift system?
                  %a{:href => "https://mirror.openshift.com/pub/origin-server/release/4/images/openshift-origin.tgz"} Download an image
                  suitable for running on a VM. The image will work on
                  = succeed "," do
                    %a{:href => "http://www.linux-kvm.org/page/Main_Page"} KVM
                    %a{:href => "https://www.virtualbox.org/"} VirtualBox
                  or
                  = succeed "." do
                    %a{:href => "http://www.vmware.com/"} VMWare
                  You can read more about the Origin VM in the
                  = succeed "." do
                    %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_vm.html"} VM Deployment Guide
                %p
                  %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_puppet.html"} You can also build your own machine using Puppet
                  or
                  follow the
                  %a{:href => "http://openshift.github.io/documentation/oo_deployment_guide_comprehensive.html"} comprehensive guide
                  and deploy OpenShift Origin manually
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                %h2 Online
                %p
                  You can try out OpenShift for free with OpenShift Online. Just
                  %a{:href => "https://www.openshift.com/app/account/new"} sign up for an OpenShift Online account
                  and create your first application in minutes.
      / Info title
      #contribute.row.info_title.wow.fadeInUp
        .info_vertical.animated
          %h1
            Contribute to OpenShift
            %span Origin
          %p Join the community and dig in to the code of the open source project on github.  Submit new features and integrations and help us make OpenShift Origin even better.
        %i.fa.fa-code.right
        .paddings
          .container.wow.fadeInUp
            .row
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Extend OpenShift
                %p You can add new runtimes and frameworks to OpenShift with community cartridges and quickstarts.
                %p
                  Cartridges provide fundamental features on OpenShift such as language runtimes and data layers. Community cartridges are contributed and maintained by the OpenShift community.
                  %a{:href => "http://openshift.github.io/documentation/"} Read more about building cartridges.
                %p
                  Quickstarts are codebases built specifically to run on OpenShift with one or more specific cartridges. A good example of a quickstart is the
                  = succeed "." do
                    %a{:href => "https://github.com/openshift/rails-example"} Ruby on Rails quickstart
                  It already has the appropriate OpenShift environment variables and hooks in place so that you can get started really easily without knowing much specifically about OpenShift. Building a quickstart is pretty easy, and a good place to start extending OpenShift.
                  %a{:href => "https://openshift.redhat.com/community/developers/get-involved/creating-quickstarts"} Read more about building quickstarts.
              .col-xs-12.col-sm-6.col-md-6.col-lg-6
                %h2 Hack on the source code
                %ul
                  %li
                    Fork the
                    %a{:href => "https://github.com/openshift/origin-server"} origin server
                    repository.
                  %li
                    Read the
                    = succeed "." do
                      %a{:href => "https://github.com/openshift/origin-server/blob/master/CONTRIBUTING.md"} contributor's guide
                  %li
                    Read the
                    = succeed "." do
                      %a{:href => "documentation/"} origin documentation
                  %li
                    Check out the public backlogs to see what we're working on:
                    %ul
                      %li
                        %a{:href => "https://trello.com/b/M0rP0aLj"} OpenShift Origin User Interface
                      %li
                        %a{:href => "https://trello.com/b/qjfQ62lZ"} OpenShift Origin Runtime
                      %li
                        %a{:href => "https://trello.com/b/nbkIrqKa"} OpenShift Origin Broker
                      %li
                        %a{:href => "https://trello.com/b/9jLHsM7K"} OpenShift Origin Release Engineering
                %h3 File a bug
                %p
                  Found a bug? Let us know! OpenShift uses a
                  = succeed "." do
                    %a{:href => "https://bugzilla.redhat.com/describecomponents.cgi?product=OpenShift%20Origin"} public Bugzilla instance
                %h3 Talk to us
                %ul
                  %li
                    %a{:href => "http://lists.openshift.redhat.com/openshiftmm/listinfo"} Join the public user or development mailing lists.
                  %li
                    %a{:href => "http://webchat.freenode.net/?randomnick=1&channels=openshift-dev&uio=d4"} Join the #openshift-dev channel on Freenode.


      %section.content_info
        %section.padding-bottom
          .container.wow.fadeInUp
            .row.text-center
              .service-process
                / Step 1
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-code.icon-big
                      %h2.caption-title Develop
                / End Step 1
                / Step 2
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-cogs.icon-big
                      %h2.caption-title Build
                / End Step 2
                / Step 3
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-check-square-o.icon-big
                      %h2.caption-title Test
                / End Step 3
                / Step 4
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-cloud-upload.icon-big
                      %h2.caption-title Deploy
                / End Step 4
              .col-md-12.single_services
                %p.lead
                  OpenShift v3 is being built around the central idea of user applications running in Docker containers with scheduling/management support provided by the Kubernetes project, and augmented deployment, orchestration, and routing functionality built on top.
                  %a{:href => "https://blog.openshift.com/openshift-v3-deep-dive-docker-kubernetes/"} Learn More
        / End Services
        .vertical_line
          .circle_top
      %footer
        .container
          .row
            / Social Section
            .col-md-3
              %h3 FOLLOW US
              %ul.social
                %li.facebook
                  %span
                    %i.fa.fa-facebook
                  %a{:href => "#"} Facebook
                %li.twitter
                  %span
                    %i.fa.fa-twitter
                  %a{:href => "#"} Twitter
                %li.github
                  %span
                    %i.fa.fa-github
                  %a{:href => "#"} Github
                %li.linkedin
                  %span
                    %i.fa.fa-linkedin
                  %a{:href => "#"} Linkedin
            / End Social Section
            / Recent links
            .col-md-3
              %h3 TWITTER FEED
              .twitts
            / End Recent links
            / Newsletter
            .col-md-3
              %h3 NEWSLETTER SIGN UP
              %p Enter your e-mail and subscribe to our newsletter.
              %form#newsletterForm.newsletterForm{:action => "php/mailchip/newsletter-subscribe.php"}
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
                  %span.input-group-btn
                    %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
              #result-newsletter
            / end Newsletter
            / Contact Us
            .col-md-3
              %h3 CONTACT US
              %ul.contact_footer
                %li
                  %i.fa.fa-envelope
                  %a{:href => "#"} openshift@redhat.com
            / Contact Us
      / End footer
      / footer
    / End layout
    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
    / %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide
    %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
