!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title Jekas  - Software, Studio and Corporate Responsive Template
    %meta{:content => "HTML5 Template", :name => "keywords"}/
    %meta{:content => "Jekas is a Software, Studio and Corporate Responsive Template", :name => "description"}/
    %meta{:content => "iwthemes.com", :name => "author"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Theme CSS
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
    / Responsive CSS
    %link{:href => "css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/
    / Favicons
    %link{:href => "img/icons/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/icons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
  %body
    / Theme-options
    #theme-options
      .openclose
      .title
        %span THEME OPTIONS
        %p Choose a combination of predefined colors here. Here are some examples. You can create any additional number on your backend theme, also can choose the background you want and four differents layouts.
      %span SKINS VERSION
      %ul.layout-style
        %li.light.active Light Skin
        %li.dark Dark Skin
      %span SKINS COLOR
      %ul#colorchanger
        %li
          %a.colorbox.red{:href => "?theme=red", :title => "Red Skin"}
        %li
          %a.colorbox.blue{:href => "?theme=blue", :title => "Blue Skin"}
        %li
          %a.colorbox.yellow{:href => "?theme=yellow", :title => "Yellow Skin"}
        %li
          %a.colorbox.green{:href => "?theme=green", :title => "Green Skin"}
        %li
          %a.colorbox.orange{:href => "?theme=orange", :title => "Orange Skin"}
        %li
          %a.colorbox.purple{:href => "?theme=purple", :title => "Purple Skin"}
        %li
          %a.colorbox.pink{:href => "?theme=pink", :title => "Pink Skin"}
        %li
          %a.colorbox.cocoa{:href => "?theme=cocoa", :title => "Cocoa Skin"}
        %li
          %a.colorbox.suelte{:href => "?theme=suelte", :title => "Suelte Skin"}
        %li
          %a.colorbox.grey{:href => "?theme=grey", :title => "grey Skin"}
      %span LAYOUT STYLE
      %ul.layout-style
        %li.wide.active Wide
        %li.boxed Boxed
        %li.boxed-margin.full Boxed Margin
      .patterns
        %span BACKGROUND PATTERNS
        %ul.backgrounds
          %li.bgnone{:title => "None - Default"}
          %li.bg1
          %li.bg2
          %li.bg3
          %li.bg4
          %li.bg5
          %li.bg6
          %li.bg7
          %li.bg8
          %li.bg9
          %li.bg10
          %li.bg11
          %li.bg12
          %li.bg13
          %li.bg14
          %li.bg15
          %li.bg16
          %li.bg17
          %li.bg18
          %li.bg19
          %li.bg20
          %li.bg21
          %li.bg22
          %li.bg23
          %li.bg24
          %li.bg25
          %li.bg26
    / End Theme-options
    / layout
    #layout.layout-wide
      / Header Section
      %header.slide
        / nav_logo Section
        .nav_logo.animated.fadeInDown
          .container
            .row
              / Logo
              .col-md-3.logo
                %a{:href => "index.html", :title => "Back to Home"}
                  %img.logo_img{:alt => "Logo", :src => "img/logo.png"}/
              / End Logo
              / Nav
              %nav.col-md-9
                / Menu
                %ul#menu.sf-menu
                  %li
                    %a{:href => "index.html"} HOME
                    %ul
                      %li
                        %a{:href => "index.html"} Creative
                      %li
                        %a{:href => "index-corporate.html"} Corporate
                      %li.selected
                        %a{:href => "index-business.html"} Business
                      %li
                        %a{:href => "index-portfolio.html"} Portfolio
                      %li
                        %a{:href => "index-one-page.html"} One Page Theme
                      %li
                        %a{:href => "index-landing.html"} Landing Page
                  %li
                    %a{:href => "page-about-01.html"} ABOUT
                    %ul
                      %li
                        %a{:href => "page-about-01.html"} About 01
                      %li
                        %a{:href => "page-about-02.html"} About 02
                      %li
                        %a{:href => "page-about-me.html"} About Me
                      %li
                        %a{:href => "page-about-team.html"} About Team
                  %li
                    %a{:href => "page-services-01.html"} SERVICES
                    %ul
                      %li
                        %a{:href => "page-services-01.html"} Services 01
                      %li
                        %a{:href => "page-services-02.html"} Services 02
                      %li
                        %a{:href => "page-services-03.html"} Services 03
                      %li
                        %a{:href => "page-services-options.html"} Services Options
                  %li
                    %a{:href => "work-2-columns.html"} WORKS
                    %ul
                      %li
                        %a{:href => "work-2-columns.html"} Work 2 Columns
                      %li
                        %a{:href => "work-3-columns.html"} Work 3 Columns
                      %li
                        %a{:href => "work-4-columns.html"} Work 4 Columns
                      %li
                        %a{:href => "single-work.html"} Single Work
                  %li
                    %a{:href => "#"} FEATURES
                    %ul
                      %li
                        %a{:href => "page-sections-content.html"} Sections background
                      %li
                        %a{:href => "#"} Pages
                        %ul
                          %li
                            %a{:href => "page-full-width.html"} Full Width
                          %li
                            %a{:href => "page-left-sidebar.html"} Left Sidebar
                          %li
                            %a{:href => "page-right-sidebar.html"} Right Sidebar
                          %li
                            %a{:href => "page-404.html"} 404 Page
                          %li
                            %a{:href => "page-faq.html"} FAQ
                      %li
                        %a{:href => "#"} Sections Titles
                        %ul
                          %li
                            %a{:href => "page-services-01.html"} Option 01
                          %li
                            %a{:href => "page-services-02.html"} Option 02
                          %li
                            %a{:href => "page-services-03.html"} Option 03
                      %li
                        %a{:href => "feature-table-pricing.html"} Pricing Tables
                      %li
                        %a{:href => "feature-grid.html"} Grind System
                      %li
                        %a{:href => "feature-typograpy.html"} Tipograpy
                      %li
                        %a{:href => "feature-icons.html"} Icons
                      %li
                        %a{:href => "feature-elements.html"} Elements
                  %li
                    %a{:href => "page-blog-01.html"} BLOG
                    %ul
                      %li
                        %a{:href => "page-blog-01.html"} Blog Post 01
                      %li
                        %a{:href => "page-blog-02.html"} Blog Post 02
                      %li
                        %a{:href => "single-post.html"} Single Page Post
                  %li
                    %a{:href => "page-contact-02.html"} CONTACT
                    %ul
                      %li
                        %a{:href => "page-contact-01.html"} Contact 01
                      %li
                        %a{:href => "page-contact-02.html"} Contact 02
                / End Menu
              / End Nav
        / End nav_logo Section
        / Slide Section
        .tp-banner-container
          .tp-banner
            %ul
              / SLIDE  01
              %li{"data-masterspeed" => "2500", "data-slotamount" => "7", "data-transition" => "zoomout"}
                / MAIN IMAGE
                %img{:alt => "slidebg1", "data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", :src => "img/slide/slides/3.jpg"}/
                / LAYER NR. 1
                .tp-caption.style-caption.large_text.lft.tp-resizeme{"data-easing" => "Power4.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "500", "data-start" => "1200", "data-x" => "16", "data-y" => "140", :style => "z-index: 5; max-width: 700px; line-height: 60px; max-height: auto; white-space: normal;"}
                  %h1
                    Design and
                    = succeed "Development" do
                      %br/
                    for
                    %br/
                    = succeed "." do
                      %span iPhone
                / END LAYER NR. 1
                / LAYER NR. 2
                .tp-caption.style-caption.lfb.tp-resizeme{"data-easing" => "Power4.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "500", "data-start" => "1200", "data-x" => "16", "data-y" => "350", :style => "z-index: 3; color: #dedede; max-width: 800px; max-height: auto; white-space: normal;"}
                  %p Pellentesque habitant morbi tristique senectus et netus et malesuada.
                / LAYER NR. 3
                .tp-caption.style-caption.lfb.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1400", "data-x" => "20", "data-y" => "460"}
                  %a.button{:href => "#"}
                    %span>
                      %i.fa.fa-link
                    Details
                / LAYER NR. 4
                .tp-caption.style-caption.lfb.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1600", "data-x" => "216", "data-y" => "460"}
                  %a.button{:href => "#"}
                    %span>
                      %i.fa.fa-mobile
                    Buy App
              / END SLIDE  01
              / SLIDE  02
              %li{"data-masterspeed" => "2500", "data-slotamount" => "7", "data-transition" => "zoomout"}
                / MAIN IMAGE
                %img{:alt => "slidebg1", "data-bgfit" => "cover", "data-bgposition" => "left top", "data-bgrepeat" => "no-repeat", :src => "img/slide/slides/2.jpg"}/
                / LAYER NR. 1
                .tp-caption.style-caption.large_text.lft.tp-resizeme{"data-easing" => "Power4.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "500", "data-start" => "1200", "data-x" => "16", "data-y" => "140", :style => "z-index: 5; max-width: 700px; line-height: 60px; max-height: auto; white-space: normal;"}
                  %h1
                    Design and
                    = succeed "Development" do
                      %br/
                    for
                    %br/
                    = succeed "." do
                      %span iPhone
                / END LAYER NR. 1
                / LAYER NR. 2
                .tp-caption.style-caption.lfb.tp-resizeme{"data-easing" => "Power4.easeOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "500", "data-start" => "1200", "data-x" => "16", "data-y" => "350", :style => "z-index: 3; color: #dedede; max-width: 800px; max-height: auto; white-space: normal;"}
                  %p Pellentesque habitant morbi tristique senectus et netus et malesuada.
                / LAYER NR. 3
                .tp-caption.style-caption.lfb.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1400", "data-x" => "20", "data-y" => "460"}
                  %a.button{:href => "#"}
                    %span>
                      %i.fa.fa-link
                    Details
                / LAYER NR. 4
                .tp-caption.style-caption.lfr.tp-resizeme{"data-easing" => "Power3.easeInOut", "data-elementdelay" => "0.1", "data-endelementdelay" => "0.1", "data-endspeed" => "300", "data-speed" => "300", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "1600", "data-x" => "216", "data-y" => "460"}
                  %a.button{:href => "#"}
                    %span>
                      %i.fa.fa-mobile
                    Buy App
                / LAYER NR. 5
                .tp-caption.lfb{"data-easing" => "Power4.easeOut", "data-elementdelay" => "0.1", "data-endeasing" => "Power1.easeOut", "data-endelementdelay" => "0.1", "data-endspeed" => "600", "data-speed" => "500", "data-splitin" => "none", "data-splitout" => "none", "data-start" => "800", "data-x" => "right", "data-y" => "center"}
                  %img{:alt => "", :src => "img/slide/mobile.png"}/
                / END LAYER NR. 5
              / END SLIDE  02
        / End Slide Section
      / End Header Section
      / Info title
      .row.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical
          %h1
            Why
            %span Like
            us.
          %p.lead The fastest way to grow your business with the leader in Technology.
      / End Info title
      / End content info - Services 01
      %section.content_info
        / Info
        .paddings
          .container.wow.fadeInUp
            .row.text-center
              .service-process
                / Step 1
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-graduation-cap.icon-big
                      %h2.caption-title Imagine
                / End Step 1
                / Step 2
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-edit.icon-big
                      %h2.caption-title Strategy
                / End Step 2
                / Step 3
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-cog.icon-big
                      %h2.caption-title Build
                / End Step 3
                / Step 4
                .col-xs-12.col-sm-6.col-md-3.col-lg-3
                  .thumbnail
                    .caption-head
                      %em.caption-icon.fa.fa-plane.icon-big
                      %h2.caption-title Launch
                / End Step 4
              .col-md-12.single_services
                %p.lead
                  We limit our concurrent projects to ensure your company gets the most care and attention possible.
                  %a{:href => "#"} Learn More
        / End Info
      / End content info - Services 01
      / End content info - Portfolio Carousel Section
      %section.content_info
        / Info Resalt
        .info_resalt.paddings.borders
          .container.wow.fadeInUp
            .row
              .col-md-12
                / Carousel Gallery
                %ul#carousel-portfolio.owl-carousel.carousel-portfolio
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/1.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/1.jpg", :title => "Image"}/
                      .overlay
                    .info
                      Responsive Design
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/2.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/2.jpg", :title => "Image"}/
                      .overlay
                    .info
                      Vinilo - HTML Template
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/3.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/3.jpg", :title => "Image"}/
                      .overlay
                    .info
                      Mega Host - Responsive template
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/4.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/4.jpg", :title => "Image"}/
                      .overlay
                    .info
                      My Cv - Responsive Resume / CV
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/5.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/5.jpg", :title => "Image"}/
                      .overlay
                    .info
                      Political - Landing Page
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                  %li
                    .hover
                      %img{:alt => "", :src => "img/gallery/6.jpg"}/
                      %a.ligbox-image{:href => "img/gallery/6.jpg", :title => "Image"}/
                      .overlay
                    .info
                      Classic Restaurant - Css3/Html5
                      %i.fa.fa-tablet
                      %i.fa.fa-desktop
                / End Carousel Gallery
        / End Info Resalt
      / End content info - Portfolio Carousel Section
      / End content info - Parallax Section 02
      %section.content_info
        / Parallax Background
        .bg_parallax.image_04_parallax
        / Parallax Background
        / Content Parallax
        %section.opacy_bg_02.paddings
          .container.wow.fadeInUp
            / Skills
            .row
              .col-md-7
                %p.wow.animated.fadeInLeft.animated{:style => "visibility: visible; -webkit-animation: fadeInLeft;"}
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
              .col-md-5
                .skills-wrapper.wow.animated.fadeInRight
                  %h6.heading-progress
                    Web Design
                    %span.pull-right 88%
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "88", :role => "progressbar", :style => "width: 88%"}
                  %h6.heading-progress
                    Web Development
                    %span.pull-right 78%
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "78", :role => "progressbar", :style => "width: 78%"}
                  %h6.heading-progress
                    Marketing
                    %span.pull-right 82%
                  .progress
                    .progress-bar{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "82", :role => "progressbar", :style => "width: 82%"}
                / skills
            / End Skills
            / Resul
            .row.results.results-mini-top
              .col-md-3
                %i.fa.fa-bomb
                %h2
                  1,000,123
                  %span +
                %h5 HOURS WORKED SINCE 2003
              .col-md-2
                %i.fa.fa-edit
                %h2
                  6,233,954
                  %span +
                %h5 LINES OF CODEC
              .col-md-2
                %i.fa.fa-group
                %h2
                  780
                  %span +
                %h5 CLIENTS SERVED
              .col-md-3
                %i.fa.fa-coffee
                %h2
                  520
                  %span =
                %h5 PROJECTS COMPLETED
              .col-md-2
                %i.fa.fa-briefcase
                %h2 18
                %h5 YEARS OF EXPERIENCE
            / End Resul
        / End Content Parallax
      / End content info - Parallax Section 02
      / Info title
      .row.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical
          %h1
            Easy
            %span To
            Use.
          %p.lead Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Ut wisi enim ad minim veniam, quis nostrud.
      / End Info title
      / End content info - White Section
      %section.content_info
        / Info Resalt
        .paddings
          .container.wow.fadeInUp
            .row
              / Item Service-01
              .col-sm-6.col-md-4.col-lg-3
                .service-01
                  .head-service-01
                    %i.fa.fa-bullhorn
                  .caption-service-01
                    %h3 Branding
                    %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-4.col-lg-3
                .service-01
                  .head-service-01
                    %i.fa.fa-cogs
                  .caption-service-01
                    %h3 Web Design
                    %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-4.col-lg-3
                .service-01
                  .head-service-01
                    %i.fa.fa-bolt
                  .caption-service-01
                    %h3 Marketing
                    %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
              / End Item Service-01
              / Item Service-01
              .col-sm-6.col-md-4.col-lg-3
                .service-01
                  .head-service-01
                    %i.fa.fa-camera
                  .caption-service-01
                    %h3 Photography
                    %p Lorem ipsum dolor sit amet elit sed do eiusmod tempor incilabore dolore magna aliqua.
              / End Item Service-01
        / End Info Resalt
      / End content info - White Section
      / End content info - Hot Features Carousel Section
      %section.content_info
        / Info Resalt
        .info_resalt.no-bottom.border-top
          .container
            .row
              / Simple Title
              .col-md-12
                .simple-title.wow.fadeInUp
                  %h2
                    Great Features
                    %span Jekas
                  %p Many web sites still in their infancy versions have evolved over the years.
              / End Simple Title
            / hot-features
            .row.hot-features.padding-top
              .col-sm-6.col-md-4.wow.fadeInLeft
                / Item Service 02
                .service-02
                  .head-service-02
                    %i.fa.fa-trophy
                    %h3
                      Ultra Retina ready desing
                      %span sed do eiusmod tempor
                  .caption-service-02
                    %p
                      Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                / Item Service 02
                / Item Service 02
                .service-02
                  .head-service-02
                    %i.fa.fa-trophy
                    %h3
                      Ultra Retina ready desing
                      %span sed do eiusmod tempor
                  .caption-service-02
                    %p
                      Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                / Item Service 02
              .col-sm-6.col-md-4.wow.fadeInUp
                %img.img-responsive{:alt => "", :src => "img/services/5.png"}/
              .col-sm-6.col-md-4.wow.fadeInRight
                / Item Service 02
                .service-02
                  .head-service-02
                    %i.fa.fa-trophy
                    %h3
                      Ultra Retina ready desing
                      %span sed do eiusmod tempor
                  .caption-service-02
                    %p
                      Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                / Item Service 02
                / Item Service 02
                .service-02
                  .head-service-02
                    %i.fa.fa-trophy
                    %h3
                      Ultra Retina ready desing
                      %span sed do eiusmod tempor
                  .caption-service-02
                    %p
                      Lorem ipsum dolor sit amet,  adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                      Ut wisi enim ad minim veniam, quis nostrud.
                / Item Service 02
            / End hot-features
        / End Info Resalt
      / End content info - Hot Features Carousel Section
      / End content info - Video Section
      %section.content_info
        / Vide Background
        %video.bg_video{:autoplay => "autoplay", :loop => "", :muted => "", :preload => "auto"}
          %source{:src => "img/video/video.mp4", :type => "video/mp4"}
        / Vide Background
        / Content Video
        %section.opacy_bg_02.paddings
          .container.wow.fadeInUp
            .row
              .col-md-12.text-center
                %h1 Section with video background
                %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
              .col-md-12.text-center.padding-top-mini
                %a.button{:href => "#"} Start now
                %a.btn{:href => "#"} More info
        / End Content Video
      / End content info - Video Section
      / Info title Blog
      #blog.row.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical
          %h1
            Latest
            = succeed "." do
              %span Blog
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam.
      / End Info title Blog
      / End content info - Blog 01
      %section.content_info
        / Info Resalt
        .paddings
          .container.wow.fadeInUp
            .row
              / Item Post 01
              .col-sm-6.col-md-4
                .blog-content
                  .entry-header
                    .blog-image
                      %img.img-responsive{:alt => "", :src => "img/gallery/1.jpg"}/
                      .more-link
                        %a{:href => "#"}
                          %i.fa.fa-plus
                    .post-date
                      %h3
                        27
                        %span August
                  .entry-content
                    %h3.entry-title
                      %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
                    %ul.entry-meta
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-user
                          By: Admin
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-tags
                          Desing
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                          2 Comments
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / End Item Post 01
              / Item Post 01
              .col-sm-6.col-md-4
                .blog-content
                  .entry-header
                    .blog-image
                      %img.img-responsive{:alt => "", :src => "img/gallery/2.jpg"}/
                      .more-link
                        %a{:href => "#"}
                          %i.fa.fa-plus
                    .post-date
                      %h3
                        27
                        %span August
                  .entry-content
                    %h3.entry-title
                      %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
                    %ul.entry-meta
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-user
                          By: Gama
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-tags
                          Photograph
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                          5 Comments
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / End Item Post 01
              / Item Post 01
              .col-sm-6.col-md-4
                .blog-content
                  .entry-header
                    .blog-image
                      %img.img-responsive{:alt => "", :src => "img/gallery/3.jpg"}/
                      .more-link
                        %a{:href => "#"}
                          %i.fa.fa-plus
                    .post-date
                      %h3
                        27
                        %span August
                  .entry-content
                    %h3.entry-title
                      %a{:href => "#"} Adipisicing elit, sed do eiusmod tempor
                    %ul.entry-meta
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-user
                          By: Admin
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-tags
                          Development
                          %span /
                      %li
                        %a{:href => "#"}
                          %i.fa.fa-comments
                          3 Comments
                    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              / End Item Post 01
        / End Info Resalt
      / End content info - Blog 01
      / End content info - Dark Section
      %section.content_info
        / Info Resalt
        .info_dark.paddings
          .container
            .row
              / Left Content
              .col-md-8.wow.fadeInLeft
                / Resul Zone
                .row.results
                  .col-md-3
                    %i.fa.fa-bomb
                    %h2
                      1,000,123
                      %span +
                    %h5 HOURS WORKED SINCE 2003
                  .col-md-3
                    %i.fa.fa-edit
                    %h2
                      6,233,954
                      %span +
                    %h5
                      LINES OF
                      = succeed "CODEC" do
                        %br/
                  .col-md-2
                    %i.fa.fa-group
                    %h2
                      780
                      %span +
                    %h5 CLIENTS SERVED
                  .col-md-2
                    %i.fa.fa-coffee
                    %h2
                      520
                      %span =
                    %h5 PROJECTS COMPLETED
                  .col-md-2
                    %i.fa.fa-briefcase
                    %h2 18
                    %h5 YEARS OF EXPERIENCE
                  %span.arrow_results
                / End Resul Zone
              / End Left Content
              / Image animation - Right Content
              .col-md-4.wow.fadeInRight
                %img.img-responsive{:alt => "", :src => "img/services/1.png"}/
              / End Image animation - Right Content
        / End Info Resalt
      / End content info - Dark Section
      / End content info - Blog 01
      %section.content_info
        / Info Resalt
        .padding_bottom
          .container
            .row
              / Image animation
              .col-md-7.wow.fadeInDown
                %img{:alt => "", :src => "img/services/2.png"}/
              / End Image animation
              .col-md-5.padding-top.text-right.wow.fadeInRight
                %h2 Mobile App Development!
                %p.lead Real data from real visitors equals real performance data.
                .padding-top-mini
                  %a.button{:href => "#"}
                    %i.fa.fa-android
                    Google Play
                  %a.button{:href => "#"}
                    %i.fa.fa-apple
                    Apple Store
        / End Info Resalt
      / End content info - Blog 01
      / End content info - info Section
      %section.content_info
        / testimonials
        %section.info_resalt.border_top
          .container.wow.fadeInDown
            .important-info
              %h1
                Join The
                %span Jekas
                and Get Lots of Awesome Features
              %h4
                %i Theme can be used for any type of website. Complete package of jekas. We hope that you enjoy it.
              %a.btn.button{:href => "#"} Read More About
              %a.btn.button{:href => "#"} Purchase Now!
        / End testimonials
      / End content info - info Section
      / footer
      %footer.footer_top
        .container
          .row
            / Social Section
            .col-md-2
              %h3 FOLLOW US
              %ul.social
                %li.facebook
                  %span
                    %i.fa.fa-facebook
                  %a{:href => "#"} Facebook
                %li.twitter
                  %span
                    %i.fa.fa-twitter
                  %a{:href => "#"} Twitter
                %li.github
                  %span
                    %i.fa.fa-github
                  %a{:href => "#"} Github
                %li.linkedin
                  %span
                    %i.fa.fa-linkedin
                  %a{:href => "#"} Linkedin
            / End Social Section
            / Recent links
            .col-md-2
              %h3 TWITTER FEED
              .twitts
            / End Recent links
            / Recent Links
            .col-md-2
              %h3 RECENT LINKS
              %ul
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Work
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} About Us
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Services
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Contact Us
            / End Recent Links
            / Newsletter
            .col-md-3
              %h3 NEWSLETTER SIGN UP
              %p Enter your e-mail and subscribe to our newsletter.
              %form#newsletterForm.newsletterForm{:action => "php/mailchip/newsletter-subscribe.php"}
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
                  %span.input-group-btn
                    %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
              #result-newsletter
            / end Newsletter
            / Contact Us
            .col-md-3
              %h3 CONTACT US
              %ul.contact_footer
                %li
                  %i.fa.fa-envelope
                  %a{:href => "#"} example@example.com
                %li
                  %i.fa.fa-headphones
                  %a{:href => "#"} 55-5698-4589
                %li.location
                  %i.fa.fa-home
                  %a{:href => "#"} Av new stret - New York
            / Contact Us
      / End footer
      / footer
      %footer.coopring
        %p &copy; 2014 Jekas. All Rights Reserved.
      / End footer
    / End layout
    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
    %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide
    %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
    / Slider Function
    :javascript
      var revapi;
      jQuery(document).ready(function() {
         revapi = jQuery('.tp-banner').revolution(
          {
              delay:9000,
              startwidth:1170,
              startheight:700,
              hideThumbs:10,
              fullWidth:"on",
              forceFullWidth:"on"
          });
      });
    / End Slider Function
